body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}
.conslebutton{
	padding:10px 20px;
	background-color:black;
	font-size:20px;
	color:white;
	display: inline;
	border:0.5px solid gray;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#divCardInHand{
	height:160px;
	}
#divCardDeck{
	height:160px;
}
#divCardActive{
	height:160px;
}
#divCardDiscard{
	height:160px;
}
#divAiHand {
	height:160px;}
#divAiDeck{
	height:160px;}
#divAiActive{
	 height:160px;}
#divAiDiscard{
	 height:160px;}
#scrollerconsle{
	background-color:black;
	
	overflow: scroll;
	overflow-x:hidden;
	overflow-y:auto;
	height:100px;
	border:0.5px solid gray;
	text-align: left;
	
}
.scrollertext{
	
}
#scrollerGeneral{
	color:green;
	font-size:20px;
	text-align:left;
	display:block;
	float:none;
}
#scrollerBattle{
	color:yellow;
	font-size:20px;
	text-align:left;
	
	float:none;
	display:block;
		
}
#scrollerWarning{
	color:red;
	font-size:25px;
	text-align:left;
	display:block;
	float:none;
}

#scrollerInformation{
	color:white;
	font-size:20px;
	float:none;
	text-align:left;
	display:block;
}