.pokemonallcard{
	display: inline-block;
    height: 120px;
    width: 80px;
}

.pokemonCardAiHand{
	display: inline-block;
    height: 120px;
    width: 80px;
}
.pokemonCardDiscard{
	display: inline-block;
	height: 90px;
	width:60px;
}